*{
    margin: 0px;
    padding: 0px;
    font-family: 
}
.clr{
    clear: both;
}
.footer-wrapper{
    width: 100%;
    min-width: 150px;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    position: relative;
    bottom: 0px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 40px;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    margin-right: 5px;
    width: 36px;
    height: 36px;
    text-align: center;
}
.footer-social-icons ul li a{
    color: #fff;
    display: block;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.9);
}
.footer-social-icons ul li a i{
    line-height: 36px;
}
.footer-social-icons ul li:nth-child(1){
    background-color: #3b5998;
}
.footer-social-icons ul li:nth-child(2){
    background-color: #25d366;
}
.footer-social-icons ul li:nth-child(3){
    background-color: #ff0000;
}
.footer-social-icons ul li:nth-child(4){
    background-color: #db4437;
}
.footer-social-icons ul li:nth-child(5){
    background-color: #1da1f2;
}
.footer-social-icons ul li:nth-child(6){
    background-color: #007bb5;
}
.footer-mid-part{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-section-one{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
    background: rgba(255,255,255,.1);
}
.footer-section-two{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
}
.footer-section-three{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
    background: rgba(255,255,255,.1);
}
.footer-heading{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-heading h2{
    color: #fff;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px;
}
.footer-contact-box{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 13px;
}
.footer-contact-icon{
    width: 25px;
    height: 25px;
    float: left;
}
.footer-contact-icon i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.footer-contact-text{
    width: 85%;
    height: auto;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.footer-contact-text p{
    font-size: 14px;
    color: #fff;
    text-align: left;
    
}
.footer-contact-text p a{
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-decoration: none;
}
.footer-contact-box:hover .footer-contact-icon i{
    color: #f00;
}
.footer-contact-box:hover .footer-contact-text p a{
    color: #f00;
}
.footer-contact-box:hover .footer-contact-text p{
    color: #f00;
}
.footer-section-two .footer-heading h2{
    text-align: center;
}
.footer-link{
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 20px;
}
.footer-link ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.footer-link ul li{
    
    padding-top: 5px;
}
.footer-link ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.footer-link ul li a:hover{
    color: #f00;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-bottom{
    font-size: 14px;
    text-align: center;
    color: #fff;
}
/*Responsive Codes*/
@media only screen and (max-width: 1199px){
    .footer-wrapper{
        position: relative;
        background-attachment: scroll;
    }
    .footer-section-one{
        padding: 12px;
    }
    .footer-social-icons ul li{
        width: 80px;
        height: 80px;
    }
    .footer-social-icons ul li a{
        font-size: 45px;
    }
    .footer-social-icons ul li a i{
        line-height: 78px;
        width: 80px;
    }
    .footer-heading h2{
    font-size: 38px;
    }
    .footer-contact-icon i{
    font-size: 40px;
    }
    .footer-contact-text p{
    font-size: 34px;  
    }
    .footer-contact-text p a{
    font-size: 34px;
    }
    .footer-link ul{
    text-align: left;
    }
    .footer-link ul li a{
    font-size: 34px;
    }
    .footer-bottom{
    font-size: 34px;
    }
    .footer-section-two .footer-heading h2{
    text-align: left;
    }
}
    